@import "@folio/stripes-components/lib/variables.css";

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  font-weight: var(--text-weight-medium);
  font-size: var(--font-size-large);
  color: var(--color-fill-current);
}
