@import "@folio/stripes-components/lib/variables.css";

.resetPasswordButton {
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
  font-size: var(--font-size-small);
  font-weight: 600;
}

.resetPasswordButton:focus {
  outline: none;
}