{
  "extends": "@folio/eslint-config-stripes",
  "parser": "@babel/eslint-parser",
  "overrides": [
    {
      "files": [ "src/**/tests/*", "*.test.js", "test/**/*" ],
      "rules": {
        "react/prop-types": "off",
        "import/prefer-default-export": "off"
      }
    }
  ],
  "env": {
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["__mock__", "./test/jest/__mock__"],
          ["fixtures", "./test/jest/fixtures"],
          ["helpers", "./test/jest/helpers"]
        ]
      }
    }
  }
}
