.modalContent {
  padding: 0;
  position: relative;
  min-height: 50vh;
}

.modalFooter {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.searchField {
  margin-bottom: calc(var(--control-margin-bottom) / 2);
}

.resetButtonWrap {
  &.resetButton {
     border-color: rgba(0, 0, 0, 0.62);
     color: rgba(0, 0, 0, 0.62);
   }
}

.searchGroupWrap {
  margin-bottom: .5rem;
}

.cancelButton {
  margin-right: auto;
}

@media (min-height: 5700px) {
  .modalContent {
    min-height: 70vh;
  }
}
