.nameContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.pronouns {
  font-weight: normal;
  word-wrap: break-word;
}

.patronBlockBannerRow {
  align-items: end;
  margin-bottom: 0.5rem;
}
