@import "@folio/stripes-components/lib/variables.css";

.rightAlignedButton {
  float: right;
  margin-right: var(--gutter-static-two-thirds);
}

.alertDetails {
  color: var(--error);
}

.lastRow {
  padding-top: var(--gutter-static-two-thirds);
}
