.searchField {
  margin-bottom: calc(var(--control-margin-bottom) / 2);
}

.resetButtonWrap {
&.resetButton {
   border-color: rgba(0, 0, 0, 0.62);
   color: rgba(0, 0, 0, 0.62);
 }
}

.searchGroupWrap {
  margin-bottom: .5rem;
}
