@import "@folio/stripes-components/lib/variables";

.feefineButton {
  color: var(--primary) !important;
}

.feefineButton:active {
  outline: none;
}

.cursor {
  cursor: pointer;
}

.printButtonWrap {
  margin: 0 0.25em;
}

