@import "@folio/stripes-components/lib/variables.css";

.label {
  margin-top: var(--gutter-static-two-thirds);
  color: #333;
  font-size: 21px;
  font-weight: normal;
  margin-bottom: var(--gutter-static-one-third);
}

.isEmptyMessage {
  color: var(--subLabelColor);
}
