@import "@folio/stripes-components/lib/variables.css";

.heading {
  margin-bottom: 3.5px;
  display: block;
  font-size: var(--gutter-static);
  line-height: 22.05px;
  font-weight: var(--text-weight-bold);
}

.request-preferences-row {
  margin-bottom: 11px;
}
