@import "@folio/stripes-components/lib/variables";

.segmentedControlWrap {
  height: 44px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--minor-divider-color);
}

.segmentedControl {
  margin-bottom: 0px;
}

.pane {
  background: var(--bg);
  border-right: 1px solid var(--color-border);
  height: 100%;
  max-height: calc(100vh - 44px);
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;

  overflow: hidden;
  position: absolute;
  will-change: transform;
  &:last-child {
    border-right: none;
  }
}

@media (--medium-up) {
  .pane {
    position: relative;
  }
}

.paneContent {
  height: 100%;
  width: 100%;
  overflow: auto;

  &.hasPadding {
    padding: var(--gutter);
  }

  &.noOverflow {
    overflow: hidden;
  }
}
