/**
 * Loans History
 */

@import "@folio/stripes-components/lib/variables";

/**
 * Segmented Control
 */

.segmentedControlWrap {
  height: 44px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--minor-divider-color);
}

.segmentedControl {
  width: 100%;
  max-width: 800px;
}
