.UserFormRoot {
  height: 100%;
  overflow: auto;
}

.UserFormEditIcon {
  display: inline-block;
}

.nameContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.pronouns {
  font-weight: normal;
  word-wrap: break-word;
}
